html,body{width: 100%; height: 100%; background: #ebebeb;}
[v-cloak] { display: none;}

.main{
width: 100%; height: 100%;
	/* background: url(images/bg.jpg)  -0px -0px no-repeat;-webkit-background-size: 100% auto; */
	padding: 20px;font-size: 0.54rem; line-height: 160%;
background-size: 100% auto;}

.foot{ width: 100%;position: fixed; bottom: 0; left: 0; }

.bar{position: relative; width: 100%; border-top: 1px #d8d8d8 solid; font-size: 0; background-color: #ededed;
	padding: 0.35rem 0 0.4rem 2.311111rem;  }

.foot_input{ width: 11.07rem; min-height: 1.511111rem; border-bottom: 1px #d8d8d8 solid;  line-height: 140%; max-height: 4rem; outline: none;
	font-size: 0.666667rem;overflow: hidden; padding: .2rem 0.3rem 0.2rem .3rem; }
.btn_sound{ width: 11.07rem; height: 1.511111rem; border: 1px #d8d8d8 solid;border-radius: 0.222222rem; text-align: center;  line-height: 1.511111rem; max-height: 4rem; color: #6f7378;
	font-size: 0.666667rem;overflow: hidden; padding: .0rem 0.3rem 0.0rem .3rem;  }
.foot_input:hover{border-bottom-color: #1aad19;}

.btn{position: absolute;left: 0; bottom: 0.42rem;width: 1.422222rem; height: 1.422222rem;line-height: 1.422222rem; border: 1px #6f7378 solid; border-radius: 50%; text-align: center;color: #6f7378; display: inline-block;
overflow: hidden;
}
.btn .ii{font-size: 0.8rem}
.btn_sound,.btn_keyboard{left: 0.533333rem;}
.btn_smile{left: 11.911111rem;}
.btn_add{left: 14.044444rem}

.btn_rect{position: absolute;left: 13.74rem; bottom: 0.42rem;width: 1.955556rem; height: 1.422222rem;line-height: 1.4222rem; border-radius: 5px; background-color: #1aad19; border: 1px #25a325 solid; color: #fff; text-align: center; font-size: 0.577778rem}

.ico_cont{height: 5.333333rem width: 100%; background: #f4f4f4; text-align: center; padding: 30px;border-top: 1px #d8d8d8 solid;}
.ico_cont li{display: inline-block; margin: 0 0.53rem; }
.ico_cont li .btn_big{ background-color: #fbfbfb; border-radius: 10px; border: 1px #d8d8d8 solid; width: 2.488889rem;height: 2.488889rem; padding-top: 0.6rem; margin-bottom: 0.42rem; color: #7c8186; }
.ico_cont li .btn_big i{font-size: 1.3rem}
.ico_cont li h2{ color: #7c8186; font-size: 0.6rem;}

.list{}
.list li{  margin-bottom: 10px; display: block; text-align: right;}
.list li .txt{border-radius: 0.2rem; font-size: 0.71rem;background-color: #a0e75a; padding:10px 10px; display: inline-block; border: 1px #7fc852 solid;position: relative;text-align: left;}
.list li .txt:before{content: "◆";color: #7fc852; position: absolute; top: 0.3rem; right: -0.32rem; font-size: 0.666667rem;}
.list li .txt:after{content: "◆"; color: #a0e75a; position: absolute; top: 0.3rem; right: -0.28rem; font-size: 0.666667rem; }

i.no{display: none;}